#hero{
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
}
#man{
    background-image: url('../img/man-sil.jpg');
    background-position: center;
    background-size: cover;
}