body {
    width: 75%;
    margin: 0 auto;
    background-color:;
}

header, nav, main, section, section2, aside, footer {
    padding: 5px;
    margin-top: 10px;
    border:2px, solid;
}

section, section2, aside {
    float: left;
}

section, section2{
    width: 70%
}
aside {
    width: 20%;
    border: 2px, black, solid;
    text-align: center;
}

footer {
    clear: both;
    text-align: center;
    border: 8px, solid;
}
h1{
    text-align: center;
    border: 2px, solid, black;
}
h3{
    text-align: left;
}