body{
    width:80%;
margin: 0px auto;
}

#hero{
    background-image:url('img/pizza.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}
#hero h1{
    font-size:50px;
    text-align: center;
    background-color: black;
    color:white;
}
#about{
    text-align: center;
}
#about h2{
    font-size:30px;
}


#pics{
    margin: 100px 0px;
}
.clear-fix:after{
    content:'';
    display: block;
    clear:both;
}
#pics div{
    float:left;
    width:200px;
    margin-left: 100px;
}
#pics div img{
    width:200px;
}
#pics div #mountains{
    width:200px;
    height: 200px;
}