body{
    width:100%;
    margin: 0px auto;
}

#hero{
    background-image:url('img/pizza.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}
#hero article{
    background-color: black;
    width:1072px;
    margin-left:103px;
}
#hero h1{
    font-size:50px;
    text-align: center;
    color:white;
}
#about{
    text-align: center;
}
#about h2{
    font-size:30px;
}
#about p{
    margin: 15px;
}

#pics{
    margin: 100px 0px 100px 150px;
}
.clear-fix:after{
    content:'';
    display: block;
    clear:both;
}
#pics div{
    float:left;
    width:200px;
    margin-left: 100px;
}
#pics div img{
    width:200px;
}
#pics div #mountains{
    width:200px;
    height: 200px;
}
/*
@media (min-width:1500px max-width: 2200px) {
    #hero article{
        width:1068px;
        margin-left:537px;
    }
    #about p{
        width: 1500px;
        margin-left: 400px;
    }
    #pics{
        margin-left: 600px;
    }
}