body{
    font-family: 'Arimo', sans-serif;
}
#nav-left {
    background-color: rgb(0,255,255);
    text-align: center;
    position: fixed;
    height: 100vh;
}
#nav-left h1{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color:rgb(139,0,139);
    font-weight: bold;
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
}
#nav-left h1:hover{
    color:rgb(0,255,255);
    background-color: rgb(139,0,139);
}
#nav-left a{
    text-decoration: none;
    color:rgb(139,0,139);
}
#nav-left a:hover{
    color:rgb(0,255,255);
    background-color: rgb(139,0,139);
}
#icons{
    height: 10vh;
}
#nav-left #icons a{
    margin-left: 3px;
}
#hero{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../img/welcomefall.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.text-on-top{
    background-color: rgba(63,63,63,0.5);
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    margin-top: 100px;
}
.text-on-top-2{
    background-color: rgba(63,63,63,0.5);
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    margin-top: 0px;
}
.text-on-top-3{
    background-color: rgba(63,63,63,0.5);
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    margin-top: 40px;
}
.top-space{
    margin-top: 10px;
}
#hero h3{
    font-size: 45px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: white;
}
#about h3{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: white;
}
/*.effect{
    position: relative;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    display: block;
}
.effect .text-desc{
    opacity: 0.9;
    top: -100%;
    transition: 0.5s;
}
.text-desc {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100%;
    opacity: 0;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}*/
#about .subtitle{
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    color:rgb(139,0,139);
}
.subtitle{
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    color:rgb(139,0,139);
    text-align: center;
}
#web a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
#web a:hover{
    color: rgb(0,255,255);
}
#web p{
    text-align: center;
}
.button{
    border: 5px solid black;
    background-color:rgb(0,255,255);
    margin-bottom: 3px;
    padding: 5px 0px;
}
.button-igaf{
    border: 5px solid black;
    background-color:rgb(0,255,255);
    margin: 150px 0px;
    padding: 5px 0px;
}
.button:hover{
    background-color:black;
}
.button-igaf:hover{
    background-color:black;
}
.web-pics{
    height: ;
}
#igaf a{
    text-decoration: none;
    color: black;
}
.igaf-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.igaf-title:hover{
    color: rgb(0,255,255);
}
#upside{
    background-image: url('../img/about/upside.png');
    background-repeat: no-repeat;
}
#bitter{
    background-image: url('../img/about/646.png');
    background-repeat: no-repeat;
}
.pj-img{
    height: ;
}
#books p{
    text-align: center;
}
#books a{
    text-decoration: none;
    color: black;
    font-weight:bolder;
}
#books a:hover{
    font-weight: bold;
    text-decoration: underline;
}
.carousel-books{
    
}
.item{
    height: 200px;
    width: 200px;
}
#connect{
    background:url('../img/toes.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
}
#connect p{
    color: white;
    line-height: 20px;
    font-style: italic;
    font-size: 20px;
}

/*.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding: 0px 0px;
    padding-left: 0px;
}

/*= Reset CSS 
============= */

html,
body {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Lato", Arial, sans-serif;
    min-width: 100%;
    min-height: 100%;
    color: #666;
    background: url(../images/bg-2.jpg) repeat;
}

.container {
    margin: 0 auto;
    max-width: 1060px;
}

h2 {
    color: #fff;
    float: left;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 50px 0 40px;
    position: relative;
    z-index: 50;
}

h2 span {
    position: relative;
    padding-bottom: 10px;
}

h2 span:after {
    content: "";
    width: 50%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 25%;
    bottom: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.full-length {
    width: 100%;
    float: left;
    padding-bottom: 80px;
}

ul {
    margin: 0 -1.5%;
}

li {
    float: left;
    width: 31.33%;
    margin: 10px 1%;
    list-style: none;
}

h3 {
    font-size: 20px;
    margin: 5px 0 10px;
}

p {
    font-weight: 300;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    border: 2px solid #4d92d9;
    background-color: #4d92d9;
    text-decoration: none;
    transition: 0.4s;
}

.btn:hover {
    background-color: transparent;
    color: #4d92d9;
    transition: 0.4s;
}

.text-desc {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100%;
    opacity: 0;
    width: 100%;
    padding: 20px;
}


/*= Reset CSS End
================= *
/* effect*/

.port-1 {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 4px solid rgba(255, 255, 255, 0.9);
}

.port-1 .text-desc {
    opacity: 0.9;
    top: -100%;
    transition: 0.5s;
    color: #000;
    padding: 45px 20px 20px;
}

.port-1 img {
    transition: 0.5s;
}

.port-1:hover img {
    transform: scale(1.2);
}

.port-1.effect-1:hover .text-desc {
    top: 0;
}

.port-1.effect-2 .text-desc {
    top: auto;
    bottom: -100%;
}

.port-1.effect-2:hover .text-desc {
    bottom: 0;
}

.port-1.effect-3 .text-desc {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}

.port-1.effect-3:hover .text-desc {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    padding: 45px 20px 20px;
}