aside{
    float:left;
}

.small-box{
    width:300px;
    height: 250px;
    padding:40px;
}
.small-box h2{ 
    color:white;
    font-weight: bold;
    text-transform:uppercase;
}
.small-box p{ 
    color:green;
}
#grow{
    background: url('../img/featured-image-3.jpg');
    background-repeat: no-repeat;
}
#plant{
    background:url('../img/featured-image-4.jpg');
    background-repeat: no-repeat;
}
#land{
    background:url('../img/featured-image-5.jpg');
    background-repeat:no-repeat;
    width:600px;
    height: 5000px;
    padding:50px;
    float:right;
}
section > h1 {
    color:white;
    text-transform: uppercase;
}
main{
    background-color: purple;
    width:1300px;
}
.clear-fix:after {
    content:'';
    display:block;
    clear:both;
}



header{
    background-color: lightgreen;
}
.img{
    background: url(../img/1.jpg);
    background-repeat: no-repeat;
    width:1200px;
    height:600px;
}
.text{
    padding:300px 500px; 300px; 200px;
}