

body{
    margin:auto;
}
#Image{
    height: 450px;
    width:850px;
    /*margin:auto;*/
    background-image: url(../img/nasa-background.jpg);
    margin-bottom: 30px;
}
h1{
    font-weight: bold;
    text-align: center;
    color:white;
    font-size: 80px;
    vertical-align: middle;
    line-height: 450px;
}
#one{
    width:270px;
    height: 324px;
    background-color: grey;
    float:left;
    /*margin-right: 20px;*/
}
#two{
    width:270px;
    height: 324px;
    background-color: grey;
    float: left;
    /*margin-right: 20px;*/

}
#three{
    width:270px;
    height: 324px;
    background-color: grey;
    float:left;
}
#message{
    height: 30px;
    width:240px;
}