body{
    width:100%;
}
aside{
    float:left;
}
aside div img{
    width:200px;
    height: 200px;
    border:5px solid purple;
}
#blackbar{
    background-color: black;
}
aside div nav a{
    font-size: 20px;
    color:black;
    padding: 5px;
    color: purple;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
aside div nav a:hover{
    color:black;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: purple;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: yellow;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover {
    background-color: limegreen;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#hero{
    background-image: url('../img/welcomefall.jpg');
    background-position: center;  
    background-size: cover;
    float:right;
}
#hero article{
    background-color:rgba(198, 179, 131, 0.5);
    text-align: center;
    padding:20px;
    width: 300px;
    margin:120px 350px 300px 360px;
}
#hero article h3{
    font-size:45px;
}
#icons{
    border:5px solid purple;
    padding:10px 5px 10px 0px;
}
#icons i{
    margin-left:20px;
}
#icons i:first-child{
    margin-left: 10px;
}