.container{
    width: 100%;
    margin: 0 auto;
}
header{
    height: 50px;
    background-color: white;
    position:fixed;
}
header h1{
    float:left;
    font-weight: bold;
    color:black;
    font-size: 20px;
    padding: 10px 15px;
}
header nav{
    float:right;
    font-size: 20px;
    padding:10px 15px;
}
header nav a{
    text-decoration:none;
    color:black;
    padding-left: 10px;
}
header nav a:hover{
    text-decoration: underline;
}
#hero{
    background-image: url('../img/tractor-landscape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 500px;
    background-color: #7f0000;
    padding-top: 200px;
    padding-left:225px;
}
#hero article{
    background-color:rgba(198, 179, 131, 0.5);
    text-align: center;
    padding:20px 0px;
    width:800px;
}
#hero h2{
    font-size: 60px;
    text-transform: uppercase;
}
#hero p{
    font-size:30px;
    padding-bottom: 15px;
}
#hero a{
    text-decoration: none;
    border: 2px solid black;
    color:black;
    font-size: 25px;
    padding:5px;
}
/*#welcome div{
    float:left;
}*/
#hero a:hover{
    background-color: #4B5320;
}

.clear-fix:after{
    content:'';
    display:block;
    clear:both;
}
#welcome div{
    margin: 40px 50px 40px 30px;
}
#welcome #snake{
    float:left;
}
#welcome img{
    width:300px;
    height:350px;
    border:8px solid #C6B383;
    padding: 20px;
}
#welcome #about{
    float:right;
    width:700px;
    text-align: left;
    border: 8px solid #C6B383;
}
#about p{
    padding:0px 10px 10px 10px;
}

#about h3{
    font-size: 40px;
    padding: 10px 0px;
    text-align: center;
}
#team{
    background-color: #C6B383;
    text-align: center;
    padding-left:70px;
    padding-bottom:15px;

}
#team h4{
    font-size:40px;
    padding-bottom: 15px;
}
#team div{
    float:left;
    width:20%;
    margin-left: 30px;
}
#team div:first-child {
    margin-left: 70px;
}
#team div h2{
    font-size: 20px;
    padding:10px 0px;
    text-decoration: underline;
}
#blog{
    background-color:rgb(102,0,0);
    padding: 20px 20px;
   /* padding:100px 0px;*/
}
#blog .container{
    float:left;
    width:50%;
}
#blog .container .picture img{
    width: 500px;
    height: 281px;
    padding-left: 50px;
}
#blog .content{
    background-color: rgba(198, 179, 131, 0.5);
    width:500px;
    margin:10px 0px 0px 50px;
}
/*#blog .picture img{
    width:100%;
}*/
#blog div h6{
    text-align: center;
}
#blog div p{
    text-align:right;
}
footer{
    background-image: url('../img/sunrise.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 400px;
    padding-top:400px;
}
footer article{
    background-color:rgba(198, 179, 131, 0.8);
    text-align: center;
    padding:20px 0px;
    width:600px;
    margin-left:350px;
}
footer article a{
    text-decoration: none;
    color:black;
}
footer article h6{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}
footer article a:hover{
    text-decoration: underline;
}
media screen and {max-width: 400px} 