.container{
    width: 100%;
    margin: 0 auto;
}
header{
    height: 50px;
    background-color: rgba(211, 211, 211, 0.5);
    /*position:fixed;*/
}
header h1{
    float:left;
    font-weight: bold;
    color:black;
    font-size: 20px;
    padding: 10px 15px;
}
/*header p{
    float: left;
    clear:left;
}*/
header nav{
    float:right;
    font-size: 20px;
    padding:10px 15px;
}
header nav a{
    text-decoration:none;
    color:black;
    padding-left: 10px;
}
header nav a:hover{
    text-decoration: underline;
}
#hero{
    background-image: url('../img/gb1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 500px;
    background-color: #7f0000;
    padding-top: 200px;
    padding-left:350px;
}
#hero article{
    background-color:rgba(211, 211, 211, 0.5);
    text-align: center;
    padding:20px 0px;
    width:600px;
}
#hero h2{
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'indie flower', cursive;
    font-weight: bold;
}
#hero p{
    font-size:30px;
    padding-bottom: 15px;
}
#hero a{
    text-decoration: none;
    border: 2px solid black;
    color:black;
    font-size: 25px;
    padding:5px;
}
/*#welcome div{
    float:left;
}*/
#hero a:hover{
    background-color: #4B5320;
}

.clear-fix:after{
    content:'';
    display:block;
    clear:both;
}
/*.homepage{
    margin: 40px 50px 40px 30px;
}
.homepage h3{
    font-size: 40px;
    padding: 10px 0px;
}
.homepage p{
    padding:0px 10px 10px 10px;
}
.homepage-text{
    float:right;
    width:700px;
    text-align: left;
    border: 8px solid #C6B383;
    border: 8px solid rgba(0,255,0,0.4);
}
.homepage-img{
    float:left;
    margin-left:80px;
}
.homepage img{
    border:8px solid #C6B383;
    border: 8px solid rgba(0,255,0,0.4);
    padding: 20px;
}*/
#welcome div{
    margin: 40px 50px 40px 30px;
}
#welcome #snake{
    float:left;
    margin-left:80px;
}
#welcome img{
    border:8px solid #C6B383;
    border: 8px solid rgba(0,255,0,0.4);
    padding: 20px;
}
#welcome #about{
    float:right;
    width:700px;
    text-align: left;
    border: 8px solid #C6B383;
    border: 8px solid rgba(0,255,0,0.4);
}
#about p{
    padding:0px 10px 10px 10px;
}

#about h3{
    font-size: 40px;
    padding: 10px 0px;
    text-align: center;
}
#farmstand{
    background-color: rgba(0,255,0,0.4);
}
#farmstand h6{
    font-size: 20px;
    font-weight: bold;
}
#comegrow{
    float:left;
    width:500px;
    text-align: left;
    border: 8px solid #C6B383;
    border: 8px solid rgba(0,255,0,0.9);
    margin:40px 0px 40px 80px;
    text-align: center;
    padding: 10px;
}
#comegrow a{
    color:black;
}
#comegrow a:hover{
    font-weight: bold;
}
#teamphoto{
    float:right;
    margin:40px 80px 40px 0px;
}
#teamphoto img{
    border:8px solid #C6B383;
    border: 8px solid rgba(0,255,0,0.9);
    padding: 20px;
}
#farmstand h3{
    font-size: 40px;
    padding: 10px 0px;
}

/*
#team{
    background-color: #C6B383;
    text-align: center;
    padding-left:70px;
    padding-bottom:15px;

}
#team h4{
    font-size:40px;
    padding-bottom: 15px;
}
#team div{
    float:left;
    width:20%;
    margin-left: 30px;
}
#team div:first-child {
    margin-left: 70px;
}
#team div h2{
    font-size: 20px;
    padding:10px 0px;
    text-decoration: underline;
}
#blog{
    background-color:rgb(102,0,0);
    padding: 20px 20px;
   /* padding:100px 0px;
}*/
/*
#blog h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}
#blog .container{
    float:left;
    width:50%;
}
#blog .container .picture img{
    width: 500px;
    height: 281px;
    padding-left: 50px;
}
#blog .content{
    background-color: rgba(198, 179, 131, 0.5);
    width:500px;
    margin:10px 0px 0px 50px;
}*/
/*#blog .picture img{
    width:100%;
}*/
/*#blog div h6{
    text-align: center;
}
#blog div p{
    text-align:right;
}*/
footer{
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/prep-barn-nice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
footer article{
    float:left;
    background-color:rgba(198, 179, 131, 0.5);
    text-align: center;
    width:300px;
    margin:50px 0px 90px 70px;
    padding: 20px 10px;
}
footer article h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
footer article img{
    margin-top: 5px;
    width:150px;
}
footer article a{
    text-decoration: none;
    color:black;
}
footer article a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.fa-instagram{
    margin-left:10px;
}
/*
footer article{
    background-color:rgba(198, 179, 131, 0.8);
    text-align: center;
    padding:20px 0px;
    width:600px;
    margin-left:350px;
}
footer article a{
    text-decoration: none;
    color:black;
}
footer article h6{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}
footer article a:hover{
    text-decoration: underline;
}*/
/* This is my css for the About HTML*/
/* This is my css for the About HTML*/
/* This is my css for the About HTML*/
/* This is my css for the About HTML*/
#miss-value{
    background-image: url('../img/flower.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    /*height: 500px;*/
    background-color: #7f0000;
    /*padding-top: 200px;
    padding-left:225px;*/
    text-align: center;
    padding-top: 30px;
    height: 325px;
}
/*#miss-value h2{
    font-size: 45px;
    background-color:rgba(0,255,0,0.4);
    background-color:rgba(198, 179, 131, 0.5);
    width:300px;
    margin:0px 0px 30px 450px;
}
#miss-value div{
    float:left;
    width:30%;
    background-color:rgba(0,255,0,0.4);
    margin:80px 0px 80px 150px;
}
#miss-value #miss{       
    padding:0px 5px 10px 5px;
}
#miss-value div h4{
    font-size: 20px;
    padding:10px 0px;
}*/
/*#who h6{
    font-size: 45px;
    text-align: center;
    width:300px;
    border:8px solid rgba(0,255,0,0.4);
    margin:15px 425px;
}*/
#mission{
    background-color: rgba(0,255,0,0.4);
    text-align: center;
}
#mission article{
    width:800px;
    padding:50px 10px;
    margin:0px 225px;
}
#mission h5{
    font-size:30px;
}
#mission p{
    padding:0px 30px;
}
#who h5{
    font-size:30px;
    text-align: center;
    /*background-color: rgba(0,255,0,0.4);*/
    padding:10px;
}
#who img{
    width: 200px;
    height: 200px;
}
#who h6{
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
#who a{
    text-decoration: none;
    color:black;
}
#who a:hover{
    text-decoration: underline;
}
#full-time{
    border:5px solid rgba(0,255,0,0.4);
    width:800px;
    margin:30px 250px;
    padding: 10px;
}
#full-time article{
    padding-bottom: 20px;
}
#full-time article img{
    float:left;
}
#full-time article div{
    float:right;
    width:550px;
    text-align: center;
}
#full-time h6{
    border-bottom:10px dotted black;
}
#full-time p{
    padding-top: 10px;
}
#part-time{
    background-color: rgba(0,255,0,0.4);
    padding-bottom: 10px;
}
#part-time article{
    float:left;
    text-align: center;
    padding-left: 40px;
}
/*This is My CSS for Kayla Dreisinger HTML*/
/*This is My CSS for Kayla Dreisinger HTML*/
/*This is My CSS for Kayla Dreisinger HTML*/
/*This is My CSS for Kayla Dreisinger HTML*/
#eyes{
    background-image: url('../img/kaylaeyes.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    background-color: #7f0000;
    
}
#eyes h6{
    font-size:45px;
    padding:150px 150px 150px 400px;
    width:400px;
    text-align: center;
}
#aboutkay{
    background-color: rgba(0,255,0,0.4);
    padding:50px;
}
#aboutkay p a{
    text-decoration: none;
    font-weight: bold;
    color:black;
}
#aboutkay p a:hover{
    text-decoration: underline;
}
#kayfav{
    text-align: center;
    border-bottom: 30px solid rgba(0,255,0,0.4);
    margin-top: 20px;

}
#kayfav h6{
    font-size: 30px;
}
#kayfav div{
    float:left;
    width:50%;
}
#kayfav p a{
    text-decoration: none;
    font-weight: bold;
    color:black;
}
#kayfav p a:hover{
    text-decoration: underline;
}
#kayfav div img{
    height: 500px;
}
#kaywork div{
    float:left;
    text-align: center;
    margin-top:30px;
}
#kaywork div img{
    width:250px;
    height:250px;
    border: 5px solid rgba(0,255,0,0.4);
}
#kaywork div h6{
    border-bottom: 5px solid rgba(0,255,0,0.4);
    margin-bottom: 3px;
}
#kaywork div p:last-child{
    padding-top:30px;
}
/*CSS for BLOG html*/
/*CSS for BLOG html*/
/*CSS for BLOG html*/ 
/*CSS for BLOG html*/
#blogtitle{
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bunkhouse-sunset.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
#blogtitle h4{
    font-size:45px;
    padding:150px 0px 150px 300px;
    color:white;
}
#blog{
    float:left;
    margin:20px;
}
#blog a{
    text-decoration: none;
    color:black;
}
#blog a:hover{
    text-decoration: underline;
    background-color: lightgray;
}
#blog article{
    border: 5px black solid;
    margin-top:5px;
    padding:10px 5px 5px 20px;
    width:800px;
}
#blog article h4{
    font-size:20px;
    text-decoration: underline;
    padding-bottom: 5px;
}
#blog article div{
    float:left;
    width:30%;
    text-align: center;
}
.blogpic{
    margin-left:200px;
}
#blog article div img{
    width:200px;
    border: 5px solid rgba(0,255,0,0.4);
}
#blog article h6{
    text-align: right;
    clear:both
}
aside{
    float:right;
    border:5px solid rgba(0,255,0,0.4);
    text-align: center;
    margin:20px 20px 20px 0px;
}
aside h5{
    font-size: 20px;
    font-weight: bold;
    margin:10px;
}
aside div{
    padding:0px 10px 10px 10px;
}


media screen and {max-width: 400px} 