.container{
    width: 100%;
    margin: 0 auto;
}
header{
    height: 50px;
    /*background-color: #c10e02;*/
}
header h1{
    float:left;
    font-weight: bold;
    color:black;
    font-size: 20px;
    padding: 10px 15px;
}
header nav{
    float:right;
    font-size: 20px;
    padding:10px 15px;
}
header nav a{
    text-decoration:none;
    color:black;
    padding-left: 10px;
}
header nav a:hover{
    text-decoration: underline;
}
#hero{
    background-image: url('../img/tractor-landscape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 500px;
    /*opacity:0.6;*/
    background-color: #7f0000;
}
#hero article{
    background-color:#C6B383;
    opacity: 0.6;
    text-align: center;
    padding-bottom:204px;
}
#hero h2{
    font-size: 60px;
    text-transform: uppercase;
    padding-top:150px;   
}
#hero p{
    font-size:30px;
    padding-bottom: 15px;
}
#hero a{
    text-decoration: none;
    border: 2px solid black;
    color:black;
    font-size: 25px;
    padding:5px;
}
/*#welcome div{
    float:left;
}*/
#hero a:hover{
    background-color: #4B5320;
}
#welcome{
    background-color: #4B5320;
}
.clear-fix:after{
    content:'';
    display:block;
    clear:both;
}
#welcome div{
    margin: 70px 50px;
}
#welcome #snake{
    background-color: blue;
    float:left;
}
#welcome img{
    width:350px;
    height:400px;
}
#welcome #about{
    background-color:aqua;
    float:right;
    width:716px;
    text-align: left;
}

#about h3{
    font-size: 40px;
}
#team{
    background-color: #C6B383;
    text-align: center;
}
#team h4{
    font-size:40px;
    padding-bottom: 15px;
}
#team div{
    float:left;
    width:250px;
    margin:0px 15px;
}
#team div h2{
    font-size: 20px;
    padding:10px 0px;
}
/*Why isn't this working?
#team #kay{
    padding-left: 70px;
}*/
#blog{
    background-color:aquamarine;
}
#blog div{
    float:left;
    width:500px;
}
#blog div img{
    height:243px;
    width:432px;
    align-content: center;
}
#blog div h6{
    text-align: center;
}
#blog div p{
    text-align:right;
}
footer{
    background-image: url('../img/sunrise.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 500px;
}