.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

header {
    color: #000;
    /*background-color: #ff00ff;*/
    padding: 10px;
}

header h1 {
    text-transform: uppercase;
    font-size: 2em;
    float: left
}

nav {
    float: right;
    margin-top: 10px;
}

nav a {
    margin-left: 15px;
    color: rgb(41, 41, 41);
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid #777;
}

#home {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%), url('../img/wine-bg.jpg') no-repeat center;
    padding: 200px 0;
    text-align: center;
    color: #fff;
}

#home h2 {
    font-size: 4em;
}

#home div {
    margin-top: 100px;
}

#home q {
    font-style: italic;
}

#about div {
    width: 45%;
    float: left;
}

#about div:first-child {
    text-align: center;
    padding-left: 120px;
    padding-top: 150px;
}

#about div:first-child p:first-child{
    font-weight: bold;
    color: #999;
}

#about div:first-child *{
    margin-bottom: 10px;
}

#about div:first-child h3{
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
}

#about div:last-child {
    text-align: center;
}
#about div:last-child img {
    width: 50%;
}


#history{
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%), url("../img/wine13.jpg") no-repeat top;
    text-align: center;
    color:white;
    clear:both;
    padding:150px 0px;
}
#history h3{
    font-size:35px;
    margin: 0px 40px;
    font-style: italic;
    font-weight: bold;
}
#history p{
    margin:80px 40px;
}

#wine div{
    height: 500px;
    width:300px;
    margin:0px 50px;
}
#wine h4{
    font-weight: bold;
    font-size:20px;
    font-style: italic;
}
#shiraz{
    float:left;
}
#chard{
    float:left;
}
#merlot{
    float:left;
}
#wine a{
    text-decoration: none;
    background-color: forestgreen;
    color:white;
    padding:10px 15px 0px 15px;
    margin-top: 100px;   
}
#wine a:hover{
    background-color: darkgreen;
}
#wine{
    text-align: center;
}
#wine p{
    margin-bottom: 30px;
}